$coloruno: #406aa8;
$colordos: #668dd3;
$colortres: #b686cd;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: titulos;
  src: url(../assets/fonts/ViceCitySans-Bold.otf);
}
@font-face {
  font-family: subtitulos;
  src: url(../assets/fonts/ViceCitySans-Light.otf);
}
@font-face {
  font-family: parrafo;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
.custom-cursor {
  cursor: url("../assets/cursor.svg"), pointer;
}

body {


  nav{
    position:sticky;
    top: 0;
    z-index: 200;
    background-color: $coloruno;
    color: white;
   .navbar-brand {
    display: flex;
    justify-content: center;
   }

   .dropdown-menu {
background-color: $colordos;
   }
   
    .collapse {
       
    justify-content: center;
    align-items: center;
    margin: 0;
   
    }
    a {
        color: white !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        font-family: parrafo;
    }
    a::after {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    @media (min-width:764px) {
   .ola {
    display: none;
   }
   .olados {
    width: 10rem;
   }
    }

    @media (max-width:763px) {
        .olados {
            display: none;
          }
    }
}


  .container-fluid {
    background-color: $coloruno;
    height: auto;



    .logo {
      width: 7rem;
      height: 3rem;
    }
  }

  .formulario-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .waos {
    border-radius: 50px;
    box-shadow: 5px 5px 30px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5rem;

    .lao {
      filter: drop-shadow(5px 8px 10px black);
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
    }

    h2 {
      text-align: center;
      font-family: titulos;
    }
    label {
      font-family: parrafo;
    }
    input {
      border-radius: 2px;
      box-shadow: 2px 2px 2px 2px $colortres;
      border: none;
    }

    textarea {
      max-height: 2rem;
      min-height: 2rem;

      border-radius: 2px;
      box-shadow: 2px 2px 2px 2px $colortres;
      border: none;
    }
  }
  .layer {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      text-decoration: none;
      background-color: $colordos;
      color: white  ;
      border-radius: 5px;
     
      padding: 5px;
      margin-top: 20px;
      font-family: parrafo;
    }

    .button_slide {
      color: #FFF;
      border: 2px solid rgb(216, 2, 134);
 
      padding: 18px 36px;
      display: inline-block;
   
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 #D80286;
      -webkit-transition: ease-out 0.4s;
      -moz-transition: ease-out 0.4s;
      transition: ease-out 0.4s;
    }
    
 
    
    .slide_right:hover {
      box-shadow: inset 400px 0 0 0 #D80286;
    }
  
  }

  footer {
    background-color: $colordos;
    color: white;
  }
  .footer_fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    .logo_redes {
      background-color: rgb(194, 189, 189);
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      box-shadow: 0px 5px 20px 0px $coloruno;
      margin-top: 1rem;
      margin-bottom: 1rem;
      position: relative;

      .redondouno {
        .poppover {
          position: absolute;
          width: 10rem;
          top: 170px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);

          transition: all 0.7s;
          z-index: -20;
        }
      }

      .redondouno:hover {
        .redes_logos {
          padding: 20px;
          filter: drop-shadow(5px 5px 3px $colortres);
        }
        .poppover {
          position: absolute;
          width: 10rem;
          top: -170px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);
          display: inline;
          transition: all 0.7s;
          z-index: 10;
        }
      }

      .redondodos {
        .poppover {
          position: absolute;
          width: 10rem;
          top: 170px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);

          transition: all 0.7s;
          z-index: -20;
        }
      }

      .redondodos:hover {
        .redes_logos {
          padding: 20px;
          filter: drop-shadow(5px 5px 3px $colortres);
        }
        .poppover {
          position: absolute;
          width: 10rem;
          top: -50px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);
          display: inline;
          transition: all 0.7s;
          z-index: 10;
        }
      }

      .redondotres {
        .poppover {
          position: absolute;
          width: 10rem;
          top: 170px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);

          transition: all 0.7s;
          z-index: -20;
        }
      }

      .redondotres:hover {
        .redes_logos {
          padding: 20px;
          filter: drop-shadow(5px 5px 3px $colortres);
        }
        .poppover {
          position: absolute;
          width: 10rem;
          top: -50px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);
          display: inline;
          transition: all 0.7s;
          z-index: 10;
        }
      }

      .redondocuatro {
        .poppover {
          position: absolute;
          width: 10rem;
          top: 200px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);

          transition: all 0.7s;
          z-index: -20;
        }
      }

      .redondocuatro:hover {
        .redes_logos {
          padding: 20px;
          filter: drop-shadow(5px 5px 3px $colortres);
        }
        .poppover {
          position: absolute;
          width: 10rem;
          top: 90px;
          left: 50;
          filter: drop-shadow(4px 5px 5px $coloruno);
          display: inline;
          transition: all 0.7s;
          z-index: 10;
        }
      }

      .redes_logos {
        padding: 20px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .info {
      color: white;
      margin: 1rem;
      text-align: center;
      padding: 20px;
      width: 50rem;
      font-size: 2rem;
    }
  }

  #inicio {
    background-color: white;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    color: white;
  }
}
