* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: titulos;
  src: url(../assets/fonts/ViceCitySans-Bold.otf);
}
@font-face {
  font-family: subtitulos;
  src: url(../assets/fonts/ViceCitySans-Light.otf);
}
@font-face {
  font-family: parrafo;
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
.custom-cursor {
  cursor: url("../assets/cursor.svg"), pointer;
}

body.clara {
  background-color: white;
}
body.clara h1 {
  font-family: titulos;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
body.clara p {
  font-family: parrafo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
body.clara .hero {
  background-image: url(../assets/intro.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center center;
  background-attachment: fixed;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 425px) {
  body.clara .hero .logo {
    width: 25rem;
    margin: auto;
    position: relative;
    top: 50%;
    z-index: 200;
    filter: drop-shadow(5px 8px 1.5px black);
    top: 0;
  }
}
@media (max-width: 424px) {
  body.clara .hero .logo {
    width: 15rem;
    margin: auto;
    position: relative;
    top: 50%;
    z-index: 200;
    filter: drop-shadow(5px 8px 1.5px black);
    top: 0;
  }
}
body.clara .flecha {
  max-width: 3.5rem;
  max-height: 3.5rem;
  background-color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  rotate: -90deg;
  border-radius: 55px;
  animation-duration: 2s;
  animation-name: baja;
  animation-iteration-count: infinite;
  text-decoration: none;
  z-index: 900;
}
@keyframes baja {
  from {
    top: 90%;
  }
  50% {
    top: 85%;
  }
  to {
    top: 90%;
  }
}
body.clara .logosss {
  max-width: 2.5rem;
  max-height: 2.5rem;
}
body.clara .logospadre {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
body.clara .contrainer__card {
  margin: auto;
  margin-top: 100px;
  display: flex;
  perspective: 1000px;
  justify-content: center;
}
body.clara .card__father {
  perspective: 1000px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
body.clara .card__front {
  background-image: url(../assets/fondo.jpg);
  background-size: cover;
  background-position: center;
}
body.clara .card__father:hover .card {
  transform: rotateY(180deg);
}
body.clara .body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  transform: translateZ(60px);
  display: flex;
  color: white;
  border-radius: 15px;
}
body.clara .body__card_front .foto {
  filter: drop-shadow(5px 8px 5px black);
}
body.clara .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
body.clara .card {
  width: 350px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1000ms;
}
body.clara .card__front,
body.clara .card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 15px;
}
body.clara .card__back {
  transform: rotateY(180deg);
  color: #fff;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/fondodos.jpg);
}
body.clara .body__card_back {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateZ(60px);
  border-radius: 15px;
}
body.clara .body__card_back p {
  margin-top: 30px;
  font-size: 18px;
}
body.clara .body__card_back input {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #406aa8;
  box-shadow: 1px 1px 30px -5px #668dd3;
  border-radius: 10px;
  transition: box-shadow 1000ms;
}
body.clara .body__card_back input:hover {
  box-shadow: 10px 10px 30px -5px #406aa8;
}
body.clara .text-center2 {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.4);
}
body.clara .container__boton {
  max-width: 3.5rem;
  max-height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
body.clara footer {
  background-color: #668dd3;
  color: white;
}
body.clara .footer_fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
body.clara .footer_fondo .logo_redes {
  background-color: rgb(194, 189, 189);
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #406aa8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
body.clara .footer_fondo .logo_redes .redondouno .poppover {
  position: absolute;
  width: 10rem;
  top: 170px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  transition: all 0.7s;
  z-index: -20;
  opacity: 0;
}
body.clara .footer_fondo .logo_redes .redondouno:hover .redes_logos {
  padding: 20px;
  filter: drop-shadow(5px 5px 3px #b686cd);
}
body.clara .footer_fondo .logo_redes .redondouno:hover .poppover {
  position: absolute;
  width: 10rem;
  top: -170px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  display: inline;
  transition: all 0.7s;
  z-index: 10;
  opacity: 1;
}
body.clara .footer_fondo .logo_redes .redondodos .poppover {
  position: absolute;
  width: 10rem;
  top: 170px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  transition: all 0.7s;
  z-index: -20;
  opacity: 0;
}
body.clara .footer_fondo .logo_redes .redondodos:hover .redes_logos {
  padding: 20px;
  filter: drop-shadow(5px 5px 3px #b686cd);
}
body.clara .footer_fondo .logo_redes .redondodos:hover .poppover {
  position: absolute;
  width: 10rem;
  top: -50px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  display: inline;
  transition: all 0.7s;
  z-index: 10;
  opacity: 1;
}
body.clara .footer_fondo .logo_redes .redondotres .poppover {
  position: absolute;
  width: 10rem;
  top: 170px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  transition: all 0.7s;
  z-index: -20;
  opacity: 0;
}
body.clara .footer_fondo .logo_redes .redondotres:hover .redes_logos {
  padding: 20px;
  filter: drop-shadow(5px 5px 3px #b686cd);
}
body.clara .footer_fondo .logo_redes .redondotres:hover .poppover {
  position: absolute;
  width: 10rem;
  top: -50px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  display: inline;
  transition: all 0.7s;
  z-index: 10;
  opacity: 1;
}
body.clara .footer_fondo .logo_redes .redondocuatro .poppover {
  position: absolute;
  width: 10rem;
  top: 200px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  transition: all 0.7s;
  z-index: -20;
  opacity: 0;
}
body.clara .footer_fondo .logo_redes .redondocuatro:hover .redes_logos {
  padding: 20px;
  filter: drop-shadow(5px 5px 3px #b686cd);
}
body.clara .footer_fondo .logo_redes .redondocuatro:hover .poppover {
  position: absolute;
  width: 10rem;
  top: 90px;
  left: 50;
  filter: drop-shadow(4px 5px 5px #406aa8);
  display: inline;
  transition: all 0.7s;
  z-index: 10;
  opacity: 1;
}
body.clara .footer_fondo .logo_redes .redes_logos {
  padding: 20px;
}
body.clara .footer_fondo .logo_redes a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.clara .footer_fondo .info {
  color: white;
  margin: 1rem;
  text-align: center;
  padding: 20px;
  width: 50rem;
  font-size: 2rem;
}
body.clara #inicio {
  background-color: white;
}
@keyframes logo {
  from {
    display: block;
    top: 0px;
    z-index: 999;
    opacity: 1;
    left: 0;
  }
  90% {
    display: block;
    top: 0px;
    z-index: 999;
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    display: none;
    z-index: 999;
    left: 100%;
  }
}
body.clara .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  color: white;
}
body.clara .gatoSubiendo {
  position: relative;
  top: 70px;
  /* transform: translateX(0%); */
  opacity: 0;
  transition: top 1s ease-in, opacity 1s ease-in;
}
body.clara .animate-in {
  top: 0;
  opacity: 1;
}
body.clara .nosotros {
  height: auto;
}
body.clara figcaption {
  font-family: parrafo;
  text-align: center;
}
body.clara .si header {
  color: hsl(233, 13%, 49%);
  margin: 3.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.clara .si .toggle {
  margin-top: 2rem;
  color: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;
  display: none;
}
body.clara .si .toggle-btn {
  margin: 0 1rem;
}
body.clara .si .checkbox {
  display: none;
}
body.clara .si .sub {
  background: linear-gradient(135deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 25px;
  width: 50px; */
  height: 1.6rem;
  width: 3.3rem;
  border-radius: 1.6rem;
  padding: 0.3rem;
}
body.clara .si .circle {
  background-color: #fff;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
}
body.clara .si .checkbox:checked + .sub {
  justify-content: flex-end;
}
body.clara .si .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body.clara .si .cardo {
  background: #fff;
  color: hsl(233, 13%, 49%);
  border-radius: 0.8rem;
  height: auto;
  margin: 20px;
}
body.clara .si .cards .cardo.active {
  background: linear-gradient(135deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  color: #fff;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
}
body.clara .si ul {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body.clara .si ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
body.clara .si ul li.price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
}
body.clara .si .shadow {
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
body.clara .si .cardo.active .price {
  color: #fff;
}
body.clara .si .btn {
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(135deg, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
}
body.clara .si .active-btn {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
body.clara .si .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
  text-align: center;
  font-family: parrafo;
}
body.clara .si .card.active .bottom-bar {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
}
body.clara .si .pack {
  font-size: 1.1rem;
  font-family: titulos;
}
@media (max-width: 280px) {
  body.clara .si ul {
    margin: 1rem;
  }
  body.clara .si h1 {
    font-size: 1.2rem;
  }
  body.clara .si .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  body.clara .si .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  body.clara .si .cardo {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }
  body.clara .si .cards .card.active {
    transform: scale(0.8);
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  body.clara .si ul {
    margin: 20px;
  }
  body.clara .si .cards {
    display: flex;
    flex-direction: column;
  }
  body.clara .si .cardo {
    margin-bottom: 1rem;
  }
  body.clara .si .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  body.clara .si .cards {
    display: flex;
    flex-direction: column;
  }
  body.clara .si .cardo {
    margin-bottom: 1rem;
  }
  body.clara .si .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  body.clara .si .cardo {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  body.clara .si .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 768px) and (max-width: 1046px) {
  body.clara .si .cards {
    display: flex;
  }
  body.clara .si .cardo {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  body.clara .si .cards .card.active {
    transform: scale(1);
  }
}
body.clara nav {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #406aa8;
  color: white;
}
body.clara nav .dropdown-item:hover {
  color: #406aa8 !important;
}
body.clara nav .navbar-brand {
  display: flex;
  justify-content: center;
}
body.clara nav .dropdown-menu {
  background-color: #668dd3;
}
body.clara nav .collapse {
  justify-content: center;
  align-items: center;
  margin: 0;
}
body.clara nav a {
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: parrafo;
}
body.clara nav a::after {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 764px) {
  body.clara nav .ola {
    display: none;
  }
  body.clara nav .olados {
    width: 10rem;
  }
}
@media (max-width: 763px) {
  body.clara nav .olados {
    display: none;
  }
}
@media (max-width: 763px) {
  body.clara .col-sm-12, body.clara .col-12 {
    font-size: 15px;
    padding: 0;
  }
}
@media (min-width: 763px) {
  body.clara .col-sm-12, body.clara .col-12 {
    font-size: 20px;
    padding: 0;
  }
}
body.clara .min {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 20rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
body.clara #servicios {
  background-image: url(../assets/decen.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center center;
  background-attachment: fixed;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.clara #servicios h1 {
  width: 100%;
  height: 102%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.clara #bat {
  background-image: url(../assets/decen.png);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center center;
  background-attachment: fixed;
  position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.clara #bat h1 {
  width: 100%;
  height: 102%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */