$coloruno: #406aa8;
$colordos: #668dd3;
$colortres: #b686cd;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: titulos;
    src: url(../assets/fonts/ViceCitySans-Bold.otf);
}
@font-face {
    font-family: subtitulos;
    src: url(../assets/fonts/ViceCitySans-Light.otf);
}
@font-face {
    font-family: parrafo;
    src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
.custom-cursor {
    cursor: url("../assets/cursor.svg"),
      pointer;
  }

body.clara {
    background-color: white;
    h1 {
        font-family: titulos;
    }
    p {
        font-family: parrafo;
    }
    .hero {
        background-image: url(../assets/intro.gif);

        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center center;
        background-attachment: fixed;
        position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 25rem;

            position: relative;
            top: 50%;
            z-index: 200;
            filter: drop-shadow(5px 8px 1.5px black);
            top: 0;
        }
    }

    .flecha {
        max-width: 3.5rem;
        max-height: 3.5rem;
        background-color: white;
        position: absolute;
        top: 90%;
        left: 50%;
        rotate: -90deg;
        border-radius: 55px;
        animation-duration: 2s;
        animation-name: baja;
        animation-iteration-count: infinite;
        text-decoration: none;
        z-index: 900;
    }

    @keyframes baja {
        from {
            top: 90%;
        }
        50% {
            top: 85%;
        }
        to {
            top: 90%;
        }
    }

    .logosss {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    .logospadre {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }

    nav {
        position: sticky;
        top: 0px;
        background-color: $coloruno;
        z-index: 100;
        margin-bottom: 5rem;
        display: flex;
        flex-wrap: wrap;

        .logo {
            width: 5rem;
            height: 2rem;
            position: absolute;
            top: 900px;
            z-index: 200;
            position: sticky;
            top: 0;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .colorofcanvas {
            background-color: $colordos;
          
        }
        .canvas-body {
            z-index: 50;

        }

        .offcanvas-header {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    .contrainer__card {
        margin: auto;
        margin-top: 100px;
        display: flex;
        perspective: 1000px;

        justify-content: center;
    }
    .card__father {
        perspective: 1000px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }

    .card__front {
        background-image: url(../assets/fondo.jpg);
        background-size: cover;
        background-position: center;
    }

    .card__father:hover .card {
        transform: rotateY(180deg);
    }

    .body__card_front {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 40px;
        transform: translateZ(60px);
        display: flex;
        color: white;
        border-radius: 15px;

        .foto {
            filter: drop-shadow(5px 8px 5px black);
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 15px;
    }

    .card {
        width: 350px;
        height: 450px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 1000ms;
    }

    .card__front,
    .card__back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 15px;
    }

    .card__back {
        transform: rotateY(180deg);
        color: #fff;
        border-radius: 15px;
        background-size: cover;
        background-position: center;

        background-image: url(../assets/fondodos.jpg);
    }

    .body__card_back {
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateZ(60px);
        border-radius: 15px;

        p {
            margin-top: 30px;
            font-size: 18px;
        }

        input {
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            color: #fff;
            background-color: $coloruno;
            box-shadow: 1px 1px 30px -5px $colordos;
            border-radius: 10px;
            transition: box-shadow 1000ms;
        }

        input:hover {
            box-shadow: 10px 10px 30px -5px $coloruno;
        }
    }

    .text-center {
        font-size: 2rem;
        padding: 1rem 8rem 1rem 8rem;
    }

    .text-center2 {
        font-size: 1.4rem;
        // padding: 1rem 8rem 1rem 8rem;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .container__boton {
        max-width: 3.5rem;
        max-height: 3.5rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    // .testi {
    //     .cards {
    //         bottom: 0;
    //         display: flex;
    //         height: 250px;
    //         padding: 0 50px;
    //         justify-content: center;

    //         left: 0;
    //         right: 0;
    //       }

    //       .card {
    //         height: 150px;
    //         margin: 0 -25px;
    //         position: relative;
    //         width: 100px;
    //       }
    //       .card:after {
    //         bottom: 0;
    //         content: "";
    //         left: -60px;
    //         position: absolute;
    //         right: -60px;
    //         top: 0px;
    //         z-index: 10;
    //       }

    //       .card-face {
    //         bottom: 0;
    //         content: "";
    //         left: 0;
    //         pointer-events: none;
    //         position: absolute;
    //         right: 0;
    //         top: 0;
    //         transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
    //       }
    //       .card-face:after {
    //         -webkit-animation: none;
    //                 animation: none;
    //         background: #fff;
    //         bottom: 0;
    //         content: "";
    //         left: 0;
    //         opacity: 0;
    //         position: absolute;
    //         right: 0;
    //         top: 0;
    //       }

    //       .card-label {
    //         font-family: "helvetica neue", helvetica, arial, sans-serif;
    //         font-size: 24px;
    //         font-weight: bold;
    //         letter-spacing: -0.025em;
    //         padding: 15px 0 0 15px;
    //       }

    //       .card:nth-child(1) .card-face {
    //         background: linear-gradient(-135deg, #ff9999, #da0b0b);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
    //         transform: translateY(45px) rotate(-28.125deg);
    //       }
    //       .card:nth-child(1) .card-face .card-label {
    //         color: #db0000;
    //         text-shadow: -0.025em 0.025em 0 #ff8080;
    //       }
    //       .card:nth-child(1):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(1):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(1):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(2) .card-face {
    //         background: linear-gradient(-135deg, #ff99d6, #da0b87);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
    //         transform: translateY(35px) rotate(-21.875deg);
    //       }
    //       .card:nth-child(2) .card-face .card-label {
    //         color: #db0084;
    //         text-shadow: -0.025em 0.025em 0 #ff80cc;
    //       }
    //       .card:nth-child(2):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(2):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(2):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(3) .card-face {
    //         background: linear-gradient(-135deg, #eb99ff, #b10bda);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
    //         transform: translateY(25px) rotate(-15.625deg);
    //       }
    //       .card:nth-child(3) .card-face .card-label {
    //         color: #af00db;
    //         text-shadow: -0.025em 0.025em 0 #e680ff;
    //       }
    //       .card:nth-child(3):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(3):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(3):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(4) .card-face {
    //         background: linear-gradient(-135deg, #ad99ff, #350bda);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
    //         transform: translateY(15px) rotate(-9.375deg);
    //       }
    //       .card:nth-child(4) .card-face .card-label {
    //         color: #2c00db;
    //         text-shadow: -0.025em 0.025em 0 #9980ff;
    //       }
    //       .card:nth-child(4):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(4):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(4):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(5) .card-face {
    //         background: linear-gradient(-135deg, #99c2ff, #0b5eda);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
    //         transform: translateY(5px) rotate(-3.125deg);
    //       }
    //       .card:nth-child(5) .card-face .card-label {
    //         color: #0058db;
    //         text-shadow: -0.025em 0.025em 0 #80b3ff;
    //       }
    //       .card:nth-child(5):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(5):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(5):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(6) .card-face {
    //         background: linear-gradient(-135deg, #99ffff, #0bdada);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
    //         transform: translateY(5px) rotate(3.125deg);
    //       }
    //       .card:nth-child(6) .card-face .card-label {
    //         color: #00dbdb;
    //         text-shadow: -0.025em 0.025em 0 #80ffff;
    //       }
    //       .card:nth-child(6):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(6):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(6):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(7) .card-face {
    //         background: linear-gradient(-135deg, #99ffc2, #0bda5e);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
    //         transform: translateY(15px) rotate(9.375deg);
    //       }
    //       .card:nth-child(7) .card-face .card-label {
    //         color: #00db58;
    //         text-shadow: -0.025em 0.025em 0 #80ffb3;
    //       }
    //       .card:nth-child(7):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(7):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(7):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(8) .card-face {
    //         background: linear-gradient(-135deg, #adff99, #35da0b);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
    //         transform: translateY(25px) rotate(15.625deg);
    //       }
    //       .card:nth-child(8) .card-face .card-label {
    //         color: #2cdb00;
    //         text-shadow: -0.025em 0.025em 0 #99ff80;
    //       }
    //       .card:nth-child(8):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(8):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(8):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(9) .card-face {
    //         background: linear-gradient(-135deg, #ebff99, #b1da0b);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
    //         transform: translateY(35px) rotate(21.875deg);
    //       }
    //       .card:nth-child(9) .card-face .card-label {
    //         color: #afdb00;
    //         text-shadow: -0.025em 0.025em 0 #e6ff80;
    //       }
    //       .card:nth-child(9):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(9):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(9):hover:after {
    //         top: -175px;
    //       }

    //       .card:nth-child(10) .card-face {
    //         background: linear-gradient(-135deg, #ffd699, #da870b);
    //         box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
    //         transform: translateY(45px) rotate(28.125deg);
    //       }
    //       .card:nth-child(10) .card-face .card-label {
    //         color: #db8400;
    //         text-shadow: -0.025em 0.025em 0 #ffcc80;
    //       }
    //       .card:nth-child(10):hover .card-face {
    //         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
    //         transform: translateY(-100px) rotate(0deg) scale(2);
    //         transition-duration: 0ms;
    //         z-index: 5;
    //       }
    //       .card:nth-child(10):hover .card-face:after {
    //         -webkit-animation: fade 250ms ease-out forwards;
    //                 animation: fade 250ms ease-out forwards;
    //       }
    //       .card:nth-child(10):hover:after {
    //         top: -175px;
    //       }

    //       @-webkit-keyframes fade {
    //         0% {
    //           opacity: 0.9;
    //           transform: scale(1);
    //         }
    //         100% {
    //           opacity: 0;
    //           transform: scale(1.15);
    //         }
    //       }

    //       @keyframes fade {
    //         0% {
    //           opacity: 0.9;
    //           transform: scale(1);
    //         }
    //         100% {
    //           opacity: 0;
    //           transform: scale(1.15);
    //         }
    //       }
    // }
    footer {
        background-color: $colordos;
        color: white;
    }
    .footer_fondo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .logo_redes {
            background-color: rgb(194, 189, 189);
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            box-shadow: 0px 5px 20px 0px $coloruno;
            margin-top: 1rem;
            margin-bottom: 1rem;
            position: relative;

            .redondouno {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                }
            }

            .redondouno:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                }
            }

            .redondodos {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                }
            }

            .redondodos:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -50px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                }
            }

            .redondotres {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                }
            }

            .redondotres:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -50px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                }
            }

            .redondocuatro {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 200px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                }
            }

            .redondocuatro:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 90px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                }
            }

            .redes_logos {
                padding: 20px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .info {
           color: white;
            margin: 1rem;
            text-align: center;
            padding: 20px;
            width: 50rem;
            font-size: 2rem;
        }
    }

    #inicio {
        background-color: white;
    }
    .videocarga {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 100%;
        animation-name: logo;
        animation-iteration-count: 1;
        animation-duration: 10s;
        display: none;
        background-color: black;
    }

    @keyframes logo {
        from {
            display: block;
            top: 0px;
            z-index: 999;
            opacity: 1;
            left: 0;
        }
        90% {
            display: block;
            top: 0px;
            z-index: 999;
            opacity: 1;
            left: 0;
        }
        to {
            opacity: 0;
            display: none;
            z-index: 999;
            left: 100%;
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30rem;
        color: white;

    }
}
