$coloruno: #406aa8;
$colordos: #668dd3;
$colortres: #b686cd;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: titulos;
    src: url(../assets/fonts/ViceCitySans-Bold.otf);
}
@font-face {
    font-family: subtitulos;
    src: url(../assets/fonts/ViceCitySans-Light.otf);
}
@font-face {
    font-family: parrafo;
    src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
.custom-cursor {
    cursor: url("../assets/cursor.svg"), pointer;
}

body.clara {
    background-color: white;
  
    h1 {
        font-family: titulos;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    p {
        font-family: parrafo;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .hero {
        background-image: url(../assets/intro.gif);
        
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center center;
        background-attachment: fixed;
        position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        


        @media (min-width:425px) {
            .logo {
                width: 25rem;
                margin: auto;
    
                position: relative;
                top: 50%;
                z-index: 200;
                filter: drop-shadow(5px 8px 1.5px black);
                top: 0;
                // backdrop-filter: blur(10px);
                
                
            }
        }

        @media (max-width:424px) {
            .logo {
                width: 15rem;
                margin: auto;
    
                position: relative;
                top: 50%;
                z-index: 200;
                filter: drop-shadow(5px 8px 1.5px black);
                top: 0;
            }
        }

        


    }

    .flecha {
        max-width: 3.5rem;
        max-height: 3.5rem;
        background-color: white;
        position: absolute;
        top: 90%;
        left: 50%;
        rotate: -90deg;
        border-radius: 55px;
        animation-duration: 2s;
        animation-name: baja;
        animation-iteration-count: infinite;
        text-decoration: none;
        z-index: 900;
    }

    @keyframes baja {
        from {
            top: 90%;
        }
        50% {
            top: 85%;
        }
        to {
            top: 90%;
        }
    }

    .logosss {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    .logospadre {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }



    .contrainer__card {
        margin: auto;
        margin-top: 100px;
        display: flex;
        perspective: 1000px;

        justify-content: center;
    }
    .card__father {
        perspective: 1000px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }

    .card__front {
        background-image: url(../assets/fondo.jpg);
        background-size: cover;
        background-position: center;
    }

    .card__father:hover .card {
        transform: rotateY(180deg);
    }

    .body__card_front {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 40px;
        transform: translateZ(60px);
        display: flex;
        color: white;
        border-radius: 15px;

        .foto {
            filter: drop-shadow(5px 8px 5px black);
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 15px;
    }

    .card {
        width: 350px;
        height: 450px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 1000ms;
    }

    .card__front,
    .card__back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 15px;
    }

    .card__back {
        transform: rotateY(180deg);
        color: #fff;
        border-radius: 15px;
        background-size: cover;
        background-position: center;

        background-image: url(../assets/fondodos.jpg);
    }

    .body__card_back {
        padding: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateZ(60px);
        border-radius: 15px;

        p {
            margin-top: 30px;
            font-size: 18px;
        }

        input {
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            color: #fff;
            background-color: $coloruno;
            box-shadow: 1px 1px 30px -5px $colordos;
            border-radius: 10px;
            transition: box-shadow 1000ms;
        }

        input:hover {
            box-shadow: 10px 10px 30px -5px $coloruno;
        }
    }



    .text-center2 {
        font-size: 1.4rem;
        // padding: 1rem 8rem 1rem 8rem;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .container__boton {
        max-width: 3.5rem;
        max-height: 3.5rem;
        min-height: 3.5rem;
        min-width: 3.5rem;
        position: fixed;
        bottom: 50px;
        right: 50px;
    }

    footer {
        background-color: $colordos;
        color: white;
    }
    .footer_fondo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .logo_redes {
            background-color: rgb(194, 189, 189);
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            box-shadow: 0px 5px 20px 0px $coloruno;
            margin-top: 1rem;
            margin-bottom: 1rem;
            position: relative;

            .redondouno {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                    opacity: 0;
                }
            }

            .redondouno:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                    opacity:1;
                }
            }

            .redondodos {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                    opacity:0;
                }
            }

            .redondodos:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -50px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                    opacity:1;
                }
            }

            .redondotres {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 170px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                    opacity:0;
                }
            }

            .redondotres:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: -50px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                    opacity:1;
                }
            }

            .redondocuatro {
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 200px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);

                    transition: all 0.7s;
                    z-index: -20;
                    opacity:0;
                }
            }

            .redondocuatro:hover {
                .redes_logos {
                    padding: 20px;
                    filter: drop-shadow(5px 5px 3px $colortres);
                }
                .poppover {
                    position: absolute;
                    width: 10rem;
                    top: 90px;
                    left: 50;
                    filter: drop-shadow(4px 5px 5px $coloruno);
                    display: inline;
                    transition: all 0.7s;
                    z-index: 10;
                    opacity:1;
                }
            }

            .redes_logos {
                padding: 20px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .info {
            color: white;
            margin: 1rem;
            text-align: center;
            padding: 20px;
            width: 50rem;
            font-size: 2rem;
        }
    }

    #inicio {
        background-color: white;
    }


    @keyframes logo {
        from {
            display: block;
            top: 0px;
            z-index: 999;
            opacity: 1;
            left: 0;
        }
        90% {
            display: block;
            top: 0px;
            z-index: 999;
            opacity: 1;
            left: 0;
        }
        to {
            opacity: 0;
            display: none;
            z-index: 999;
            left: 100%;
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30rem;
        color: white;
    }

    .gatoSubiendo {
        position: relative;
        top: 70px;

        /* transform: translateX(0%); */
        opacity: 0;
        transition:
            top 1s ease-in,
            opacity 1s ease-in;
    }

    .animate-in {
        top: 0;
        opacity: 1;
    }

    .nosotros {
        height: auto;
    }
    figcaption {
        font-family: parrafo;
        text-align: center;
    }

    .si {
        header {
            color: hsl(233, 13%, 49%);
            margin: 3.3rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .toggle {
            margin-top: 2rem;
            color: hsl(234, 14%, 74%);
            display: flex;
            align-items: center;
            display: none;
        }
        .toggle-btn {
            margin: 0 1rem;
        }
        .checkbox {
            display: none;
        }

        .sub {
            background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* height: 25px;
            width: 50px; */
            height: 1.6rem;
            width: 3.3rem;
            border-radius: 1.6rem;
            padding: 0.3rem;
        }
        .circle {
            background-color: #fff;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;
        }
        .checkbox:checked + .sub {
            justify-content: flex-end;
        }

        .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .cardo {
            background: #fff;
            color: hsl(233, 13%, 49%);
            border-radius: 0.8rem;
            height: auto;
            margin: 20px;
        }

        .cards .cardo.active {
            background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
            color: #fff;
            display: flex;
            align-items: center;
            transform: scale(1.1);
            z-index: 1;
        }
        ul {
            margin: 2.6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        ul li {
            list-style-type: none;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 1rem 0;
            text-align: center;
        }
        ul li.price {
            font-size: 3rem;
            color: hsl(232, 13%, 33%);
            padding-bottom: 2rem;
        }
        .shadow {
            box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
        }

        .cardo.active .price {
            color: #fff;
        }

        .btn {
            margin-top: 1rem;
            height: 2.6rem;
            width: 13.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
            color: #fff;
            outline: none;
            border: 0;
            font-weight: bold;
        }
        .active-btn {
            background: #fff;
            color: hsl(237, 63%, 64%);
        }
        .bottom-bar {
            border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
            text-align: center;
            font-family: parrafo;
        }
        .card.active .bottom-bar {
            border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
        }
        .pack {
            font-size: 1.1rem;
            font-family: titulos;
        }

        @media (max-width: 280px) {
            ul {
                margin: 1rem;
            }
            h1 {
                font-size: 1.2rem;
            }
            .toggle {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 80px;
            }
            .cards {
                margin: 0;
                display: flex;
                flex-direction: column;
            }

            .cardo {
                transform: scale(0.8);
                margin-bottom: 1rem;
            }
            .cards .card.active {
                transform: scale(0.8);
            }
        }

        @media (min-width: 280px) and (max-width: 320px) {
            ul {
                margin: 20px;
            }
            .cards {
                display: flex;
                flex-direction: column;
            }
            .cardo {
                margin-bottom: 1rem;
            }
            .cards .card.active {
                transform: scale(1);
            }
        }

        @media (min-width: 320px) and (max-width: 414px) {
            .cards {
                display: flex;
                flex-direction: column;
            }
            .cardo {
                margin-bottom: 1rem;
            }
            .cards .card.active {
                transform: scale(1);
            }
        }
        @media (min-width: 414px) and (max-width: 768px) {
            .cardo {
                margin-bottom: 1rem;
                margin-right: 1rem;
            }
            .cards .card.active {
                transform: scale(1);
            }
        }
        @media (min-width: 768px) and (max-width: 1046px) {
            .cards {
                display: flex;
            }
            .cardo {
                margin-bottom: 1rem;
                margin-right: 1rem;
            }
            .cards .card.active {
                transform: scale(1);
            }
        }
    }


    nav{
        position:sticky;
        top: 0;
        z-index: 200;
        background-color: $coloruno;
        color: white;
        .dropdown-item:hover {
            color: #406aa8 !important;
          }
       .navbar-brand {
        display: flex;
        justify-content: center;
       }

     

       .dropdown-menu {
background-color: $colordos;
       }
       
        .collapse {
           
        justify-content: center;
        align-items: center;
        margin: 0;
       
        }
        a {
            color: white !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            font-family: parrafo;
        }
        a::after {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        @media (min-width:764px) {
       .ola {
        display: none;
       }
       .olados {
        width: 10rem;
       }
        }

        @media (max-width:763px) {
            .olados {
                display: none;
              }
        }
    }

  


    @media (max-width:763px) {
        .col-sm-12 ,.col-12 {
            font-size: 15px;
            padding: 0;
        }

    }

    @media (min-width:763px) {
        .col-sm-12 ,.col-12 {
            font-size: 20px;
            padding: 0;
        }

    }
    .min {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        min-height: 20rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #servicios {
        background-image: url(../assets/decen.png);
        
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center center;
        background-attachment: fixed;
        position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            width: 100%;
            height: 102%;
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
    #bat {
        background-image: url(../assets/decen.png);
        
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center center;
        background-attachment: fixed;
        position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            width: 100%;
            height: 102%;
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}
